@using DoctorType.Domain.Entities.Account
@model List<DoctorType.Domain.Entities.Tariff.Tariff>

@{
    ViewData["Title"] = "لیست تعرفه های سایت";
}

@section scripts{
    <partial name="_JqueryValidators" />
}

    @section Breadcrumbs{
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-area="UserPanel" asp-controller="Home"> داشبورد  </a></li>
        </ol>
    </div>
}

    <div class="row">

    @if (Model != null && Model.Any())
    {
        foreach (var tariff in Model)
        {
            <div class="col-xl-6">
                <div class="card text-white bg-@tariff.ColorName">
                    <div class="card-header">
                        <h5 class="card-title text-white">@tariff.TariffName</h5>
                    </div>
                    <div class="card-body mb-0">
                        <p class="card-text">مدت زمان اعتبار اشتراک : @tariff.tariffDuration روز</p>
                        <p class="card-text">مبلغ اشتراک : @tariff.TariffPrice.ToString("#,000") ریال</p>
                        <p class="card-text"> تعداد پروژه قابل پذیرفتن : @tariff.CountOfAcceptRequest</p>
                        <a asp-action="BeforeBuyTariff" asp-area="UserPanel" asp-controller="Tariff" asp-route-tariffId="@tariff.Id" class="btn btn-dark btn-card">پرداخت و دریافت اشتراک</a>
                    </div>
                </div>
            </div>
        }
    }

</div>