@*@model DoctorType.Domain.ViewModels.AdminHome.AdminHomeIndexViewModel
*@@using DoctorType.Application.Extensions
@using DoctorType.Application.Utils
@{
    ViewData["Title"] = "پنل ادمین";
}


@section scripts{

<script>

    function LoadAdvertisementModalBody(AdsId) {
        $.ajax({
            url: "/Show-Advertisement-Detail",
            type: "get",
            data: {
                Id: AdsId
            },
            success: function (response) {
                $("#ProductModalContent").html(response);
                $("#ProductModal").modal("show");
            }
        });
    }

</script>
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="row">

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-success">
                        <div class="card-body  p-4">
                            <a asp-area="Admin" asp-controller="Users" asp-action="Index">
                                <div class="media">
                                    <span class="mr-3">
                                        <i class="la la-users"></i>
                                    </span>
                                    <div class="media-body text-white">
                                        <p class="mb-1">کل کاربران </p>
                                        <h3 class="text-white">@Model.ALLUsers</h3>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-primary">
                        <div class="card-body  p-4">
                            <a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-UserState="1">
                                <div class="media">
                                    <span class="mr-3">
                                        <i class="la la-users"></i>
                                    </span>
                                    <div class="media-body text-white">
                                        <p class="mb-1"> کاربران فعال </p>
                                        <h3 class="text-white">@Model.ActivatedUsers</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6" id="scrollTrigger">
                    <div class="widget-stat card bg-warning">
                        <div class="card-body  p-4">
                            <div class="media">
                                <span class="mr-3">
                                    <i class="la la-users"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1"> ثبت نامی های امروز </p>
                                    <h3 class="text-white">@Model.TodayRegisteredUsers</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-danger">
                        <div class="card-body  p-4">
                            <a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-UserState="2">
                                <div class="media">
                                    <span class="mr-3">
                                        <i class="la la-users"></i>
                                    </span>
                                    <div class="media-body text-white">
                                        <p class="mb-1"> کاربران فعال نشده </p>
                                        <h3 class="text-white">@Model.WaitingForActiveUsers</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-success">
                        <div class="card-body  p-4">
                            <a asp-area="Admin" asp-controller="Advertisement" asp-action="Index">
                                <div class="media">
                                    <span class="mr-3">
                                        <i class="la la-users"></i>
                                    </span>
                                    <div class="media-body text-white">
                                        <p class="mb-1">کل آگهی ها </p>
                                        <h3 class="text-white">@Model.AllAdvertisement</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-info">
                        <div class="card-body  p-4">
                            <a asp-area="Admin" asp-controller="Advertisement" asp-action="Index" asp-route-FilterAdvertisementActiveState="3">
                                <div class="media">
                                    <span class="mr-3">
                                        <i class="la la-users"></i>
                                    </span>
                                    <div class="media-body text-white">
                                        <p class="mb-1"> آگهی های در انتظار تایید </p>
                                        <h3 class="text-white">@Model.WaitingForAcceptAdvertisements</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-warning">
                        <div class="card-body  p-4">
                            <a asp-area="Admin" asp-controller="Advertisement" asp-action="Index" asp-route-FilterAdvertisementActiveState="2">
                                <div class="media">
                                    <span class="mr-3">
                                        <i class="la la-users"></i>
                                    </span>
                                    <div class="media-body text-white">
                                        <p class="mb-1"> آگهی های رد شده </p>
                                        <h3 class="text-white">@Model.RejectedAdvertisement</h3>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-danger">
                        <div class="card-body  p-4">
                            <a asp-area="Admin" asp-controller="Advertisement" asp-action="Index" asp-route-FilterAdvertisementActiveState="4">
                                <div class="media">
                                    <span class="mr-3">
                                        <i class="la la-users"></i>
                                    </span>
                                    <div class="media-body text-white">
                                        <p class="mb-1"> منقضی شده </p>
                                        <h3 class="text-white">@Model.ExpiredAdvertisement</h3>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                @*
                    Lastest Advertisement
                *@

                <!-- #region Latest Advertisments -->

                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header border-0 pb-0">
                            <h4 class="card-title">جدیدترین آگهی ها </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm mb-0">
                                    <thead>
                                        <tr>

                                            <th><strong> عنوان </strong></th>
                                            <th><strong> موبایل </strong></th>
                                            @*                                            <th><strong> شروع </strong></th>
                                                <th><strong>پایان </strong></th>
                                            *@
                                            <th><strong>تاریخ ثبت </strong></th>
                                            <th><strong>امکانات </strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.LastestAdvertisement.Any() && Model.LastestAdvertisement != null)
                                        {
                                            foreach (var ads in Model.LastestAdvertisement)
                                            {
                                                <tr id="ajax-url-item-@ads.Id">


                                                    <td>
                                                        <a title="نمایش اگهی" target="_blank" asp-area="" asp-controller="Advertisement" asp-action="ShowAdvertisementDetailsForAdmin" asp-route-advertisementId="@ads.Id" >
                                                            @ads.Title
                                                        </a>
                                                    </td>
                                                    <td> @ads.User.Mobile</td>
                                                    <td>
                                                        <div> @ads.CreateDate.ToShamsiDate()</div>
                                                    </td>

                                                    <td>


                                                        <a title="ویرایش  " asp-area="Admin" asp-controller="Advertisement" asp-action="EditAdvertisement" asp-route-Id="@ads.Id" class="btn btn-warning shadow btn-xs sharp m-1"><i class="fa fa-edit"></i></a>
                                                        @*<a title="نمایش اگهی" target="_blank" asp-area="" asp-controller="Advertisement" asp-action="ShowAdvertisementDetailsForAdmin" asp-route-advertisementId="@ads.Id" class="btn btn-primary shadow btn-xs sharp m-1"><i class="fa fa-eye"></i></a>*@

                                                        
                                                        @if (!ads.IsDelete)
                                                        {
                                                            <a ajax-url-button="@ads.Id" title="حذف" asp-area="Admin" asp-controller="Advertisement" asp-action="DeleteAdvertisement" asp-route-Id="@ads.Id" class="btn btn-danger shadow btn-xs sharp m-1"><i class="fa fa-trash"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a ajax-url-button="@ads.Id" title="بازگردانی" asp-area="Admin" asp-controller="Advertisement" asp-action="RecoveryAdvertisement" asp-route-Id="@ads.Id" class="btn btn-success shadow btn-xs sharp m-1"><i class="fa fa-recycle"></i></a>
                                                        }
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
                <!--#region Latest Advertisment Report -->

                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header border-0 pb-0">
                            <h4 class="card-title">جدیدترین گزارش تخلف ها </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm mb-0">
                                    <thead>
                                        <tr>
                                            <th><strong> نوع تخلف </strong></th>
                                            <th><strong> عنوان اگهی </strong></th>
                                            <th><strong>تاریخ ثبت </strong></th>
                                            <th><strong> بررسی </strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.AdvertismentsReport.Any() && Model.AdvertismentsReport != null)
                                        {
                                            foreach (var report in Model.AdvertismentsReport)
                                            {
                                                <tr id="ajax-url-item-@report.Id">

                                                    <td>
                                                        <a asp-action="DetailsOfAdvertisementReport" asp-controller="AdvertisementReport" asp-area="Admin" asp-route-ReportId="@report.Id"> @report.ReportType?.ReportTitle</a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="EditAdvertisement" asp-controller="Advertisement" asp-area="Admin" asp-route-Id="@report.AdvertisementId"> @report.Advertisement?.Title</a>
                                                    </td>
                                                    <td>
                                                        <div> @report.CreateDate.ToShamsiDate()</div>
                                                    </td>
                                                    <td>
                                                        <a title="بررسی" asp-area="Admin" asp-controller="AdvertisementReport" asp-action="DetailsOfAdvertisementReport" asp-route-ReportId="@report.Id" class="btn btn-warning shadow btn-xs sharp m-1"><i class="fa fa-edit"></i></a>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--#endregion-->
                @*
                    Latstest Emails
                *@
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> آخرین پیام ها </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th>موبایل </th>
                                            <th>عنوان </th>
                                            <th>تاریخ ثبت  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.LastestEmails.Any() && Model.LastestEmails != null)
                                        {

                                            foreach (var email in Model.LastestEmails)
                                            {
                                                <tr>

                                                    <td>@email.Name</td>
                                                    <td>@email.Mobile</td>
                                                    <td>
                                                        <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block">@email.Subject </span>
                                                    </td>
                                                    <td>@email.CreateDate.ToShamsiDate() </td>
                                                    <td>
                                                        <a title="بررسی پیام " asp-area="Admin" asp-controller="ContactUs" asp-action="ReplyMessage" asp-route-Id="@email.Id" class="btn btn-primary shadow btn-xs sharp m-1"><i class="fa fa-mail-reply"></i></a>
                                                    </td>
                                                </tr>
                                            }

                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                @*
                    Latstest Tickets
                *@
                <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"> آخرین تیکت ها </h4>
                        </div>
                        <div class="card-body mb-4">
                            <div class="table-responsive">
                                <table class="table table-striped table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th> وضعیت </th>
                                            <th> اهمیت </th>
                                            <th>عنوان </th>
                                            <th>نمایش تیکت</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.LastestTickect.Any() && Model.LastestTickect != null)
                                        {
                                            foreach (var ticket in Model.LastestTickect)
                                            {
                                                <tr>

                                                    <td>@ticket.Owner.UserName</td>
                                                    <td>@ticket.Owner.Mobile</td>
                                                    <td>
                                                        <span class="badge badge-primary"> @ticket.TicketState.GetEnumName() </span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-warning"> @ticket.TicketPriority.GetEnumName() </span>
                                                    </td>
                                                    <td>
                                                        <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block">@ticket.Title </span>
                                                    </td>
                                                    <td>
                                                        @*<a title="پاسخ "
                                                            asp-action="TicketDetails"
                                                            asp-area="Admin"
                                                            asp-controller="Ticket"
                                                            asp-route-ticketId="@ticket.Id"
                                                            class="btn btn-primary shadow btn-xs sharp m-1">
                                                            <i class="fa fa-search"></i>

                                                            </a>*@
                                                        <a title="پاسخ"
                                                   asp-area="Admin"
                                                   asp-controller="Ticket"
                                                   asp-action="TicketDetails"
                                                   asp-route-ticketId="@ticket.Id"
                                                   class="btn btn-info shadow btn-xs sharp m-1">
                                                            <i class="fa fa-mail-reply"></i>
                                                        </a>

                                                    </td>
                                                </tr>
                                            }

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ProductModal" tabindex="-1" aria-labelledby="ProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="ProductModalContent">
        </div>
    </div>
</div>


