@model List<DoctorType.Domain.Entites.Adevrtisement.Advertisemenet>
@using DoctorType.Application.Convertors
@using DoctorType.Application.Extensions

@{
    ViewData["Title"] = "لیست پروژه ها ";
}

@section styles{
    <!-- Datatable -->
    <link href="/AdminContent/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="/AdminContent/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
}

    @section scripts{
    <script src="js/deznav-init.js"></script>
    <!-- Datatable -->
    <script src="/AdminContent/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/AdminContent/js/plugins-init/datatables.init.js"></script>
}

    @section Breadcrumbs{
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">< asp-action="Index" asp-area="UserPanel" asp-controller="Home"> داشبورد  </></li>
            <li class="breadcrumb-item"><a asp-action="ListOfProjects" asp-area="UserPanel" asp-controller="Projects"> لیست پروژه ها </a></li>
        </ol>
    </div>
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">لیست پروژه ها</h4>
                </div>
                <div class="card-body">
                @if (Model != null && Model.Any())
                {
                    <div class="table-responsive">
                        <div id="example5_wrapper" class="dataTables_wrapper no-footer">

                            <table id="example5" class="display dataTable no-footer" style="min-width: 845px" role="grid" aria-describedby="example5_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example5" rowspan="1" colspan="1" style="width: 104.883px;" aria-label="تاریخ عضو: فعال کنید تا ستون صعودی مرتب شود">کارفرما </th>
                                        <th class="sorting" tabindex="0" aria-controls="example5" rowspan="1" colspan="1" style="width: 104.883px;" aria-label="تاریخ عضو: فعال کنید تا ستون صعودی مرتب شود">عنوان </th>
                                        <th class="sorting" tabindex="0" aria-controls="example5" rowspan="1" colspan="1" style="width: 108.817px;" aria-label="نام: فعال کنید تا ستون صعودی مرتب شود">وضعیت</th>
                                        <th class="sorting" tabindex="0" aria-controls="example5" rowspan="1" colspan="1" style="width: 104.883px;" aria-label="تاریخ عضو: فعال کنید تا ستون صعودی مرتب شود">تاریخ </th>
                                        <th class="sorting" tabindex="0" aria-controls="example5" rowspan="1" colspan="1" style="width: 84.4px;" aria-label="اقدامات: فعال کنید تا ستون صعودی مرتب شود">اقدامات</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var ads in Model)
                                    {
                                        <tr role="row" class="odd" remove-ajax-item="@ads.Id">
                                            <td class="sorting_1">
                                                @if (string.IsNullOrEmpty(ads.User.Avatar))
                                                {
                                                    <img class="rounded-circle" src="/AdminContent/images/profile/pic1.png" alt="" width="35">
                                                }
                                                else
                                                {
                                                    <img class="rounded-circle" src="@ads.User.GetUserAvatar()" alt="" width="35">
                                                }
                                            </td>
                                            <td>@ads.Title</td>
                                            <td><span class="badge light badge-warning">در انتظار مجری</span></td>
                                            <td>@ads.CreateDate.ToShamsi()</td>
                                            <td>
                                                <div class="d-flex">
                                                    <a asp-action="ShowAdvertisementDetail" asp-area="Admin" asp-controller="Advertisement" asp-route-advertisementId="@ads.Id" class="btn btn-warning shadow btn-xs sharp mr-1"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>

                }
                else
                {
                    <partial name="_NoItemFoundPartial" />
                }
            </div>
        </div>
    </div>
</div>
